[Unit]
Description=Stonk Critter
After=network-online.target

[Service]
User=stonkcritter
WorkingDirectory=/home/stonkcritter
EnvironmentFile=/etc/default/stonkcritter
ExecStart=/usr/bin/stonkcritter -chat -d /home/stonkcritter/data
Restart=always
TimeoutStartSec=5

[Install]
WantedBy=multi-user.target